form {
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0px 20px 0px 20px;
}

.title {
  background: #26a69a;
  color: aliceblue;
  margin-top: 0px;
  padding: 8px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
}
.login-btn {
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: 500;
}
.login-btn .btn {
  background: #26a69a;
  color: aliceblue;
  width: 17vw;
}
