<div class="row">
  <div class="col s12 m12 l12">
    <div class="card post01v">
      <div class="card-content">
        <form [formGroup]="formPost" novalidate>
          <div class="formDiv">
            <textarea id="textarea1" class="materialize-textarea" formControlName="post"></textarea>
            <div class="row">
              <div class="col s6">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>
                      <i class="Medium material-icons">insert_photo</i>
                    </span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              </div>
              <div class="col s6">
                <button class="btn postBtn" (click)="submitPost()">
                  Chia sẻ
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>