<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <!-- loading - page -->
      <div class="progress" *ngIf="showLoading">
        <div class="indeterminate"></div>
      </div>

      <h3 class="title">SIGN UP</h3>

      <!-- Message từ Server -->
      <div id="errorMsg" *ngIf="errorMessage">
        <span>{{ errorMessage }}</span>
      </div>

      <form class="col s12" [formGroup]="signUpForm" novalidate (ngSubmit)="signUpUser()">
        <div class="row">
          <div class="input-field col s12">
            <input id="signup-username" type="text" formControlName="username" />
            <label for="username">Username</label>
            <app-error-validate
              [control]="signUpForm.controls.username"
              [name-control]="'Username'"
            ></app-error-validate>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="signup-email" type="email" formControlName="email" />
            <label for="email">Email</label>
            <app-error-validate [control]="signUpForm.controls.email" [name-control]="'Email'"></app-error-validate>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="signup-password" type="password" formControlName="password" />
            <label for="password">Password</label>
            <app-error-validate
              [control]="signUpForm.controls.password"
              [name-control]="'Password'"
            ></app-error-validate>
          </div>
        </div>
        <div class="row signup-btn">
          <button class="waves-effect waves-light btn" [disabled]="!signUpForm.valid">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
