<div class="row news">
  <div class="col s12 m4 news-item" style="width: 30%;">
    <a href="">
      <span>Posts</span>
      <p>10</p>
    </a>
  </div>

  <div class="col s12 m4 news-item" style="width: 30%;">
    <a href="">
      <span>Follow</span>
      <p>10</p>
    </a>
  </div>

  <div class="col s12 m4 news-item" style="width: 30%;">
    <a href="">
      <span>Followed</span>
      <p>10</p>
    </a>
  </div>
</div>

<ul class="collection">
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="['/feed']">
      <div class="item">
        Home<a href="#!" class="secondary-content"><i class="material-icons">home</i></a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="['/friend']">
      <div class="item">
        Friend<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
      </div>
    </a>
  </li>
  <!-- <li class="collection-item">
    <div class="item">
      Follow<a href="#!" class="secondary-content"><i class="material-icons">sentiment_very_satisfied</i></a>
    </div>
  </li>
  <li class="collection-item">
    <div class="item">
      Photo<a href="#!" class="secondary-content"><i class="material-icons">photo_album</i></a>
    </div>
  </li>
  <li class="collection-item">
    <div class="item">
      Notification<a href="#!" class="secondary-content"><i class="material-icons">notifications_active</i></a>
    </div>
  </li> -->
</ul>