.title {
    color: #26a69a;
    font-weight: 500;
}
.small-title{
    color: #7ac9c1;
    font-weight: 400;
}
.header,
.content .card-content {
    background-color: #f4fefd;
}

.content img {
    border-radius: 10px;
}

.liked i{
    color: #64b5f6 !important;
    /* color: black !important; */
}

.content {
    margin-bottom: 0;
}

#like {
    margin-right: 15px;
}

#like i,  
#like span {
    margin-left: 5px;
    margin-right: 5px;
    color: #26a69a;
    font-size: 1.5rem;
}
#comment {
    margin-left: 15px;
}

#comment i,
#comment span {
    margin-left: 5px;
    margin-right: 5px;
    color: #26a69a;
    font-size: 1.5rem;
}


.card-action a i{
    color: #26a69a;
}